<FilesMatch "\.(mov|mp3|pdf|ipynb)$">
  ForceType application/octet-stream
  Header set Content-Disposition attachment
</FilesMatch>

RedirectMatch 404 /Makefile

Options -Indexes
DirectoryIndex index.php index.html index.xml /
