<FilesMatch "\.(mov|mp3|pdf|ipynb)$">
  ForceType application/octet-stream
  Header set Content-Disposition attachment
</FilesMatch>

#Gzip
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript text/javascript
</ifmodule>
#End Gzip

RedirectMatch 404 /Makefile

Options -Indexes
DirectoryIndex index.php index.html index.xml /
